/******************************************************************************/

/*                      comparison                                      */

/******************************************************************************/
.compare-cell{
    min-width:200px;    
}
td.sort{
    width:20px;
    height: 40px;
    cursor: pointer;
}
#comparison_table td {
    border: 1px dotted #cdcdcd;
    padding: 4px;
    text-align: center;
}
#comparison_table td:nth-child(2){
    text-align: left;
    padding-left: 1.5em;
}

div.sort_arrows div {
    height: 12px;
    line-height: 1;
}

#comparison_table td, #comparison_table td div{
    vertical-align:middle;
}
#comparison_table{
    border: 1px solid black;
    table-layout: fixed;
    width: auto;
    overflow:scroll;
}

.remove_column{
    float: right;
    margin-right: 10%;
    cursor: pointer;
}
/******************************************************************************/

/*                      processor filter                                      */

/******************************************************************************/
#compare_all,#remove_all{
    cursor: pointer;
    background-color: #e6eeee;
    border: 1px solid #fff;
    font-size: 8pt;
    padding: 4px;
    text-align: center;
    height: 30px;
    line-height: 30px;
    font-size: 8pt;
    font-weight: bold;
    min-width: 75px;
}
.green_arrow{
    color: #a6ce39 !important;
}
td.comparison{
    cursor: pointer;
    text-align: center;
}

#removable-conditions{
    display:none;
    padding-top: 5px;
}

.removable_conditions{
    margin: 0 auto;
    width: 90%;
    list-style-type: none;
}
.remove_condition {
    background: rgba(0, 0, 0, 0) url("/img/delete_icon.png") no-repeat scroll 100% 3px;
}

#centered-message{
    margin-left:  30%;
    margin-right: 30%;
    margin-top: 10%;
    margin-bottom: 10%;
    color: #0a0;
}
.search{
    background: none repeat scroll 0% 0% #EEEFF0;
}

.magni{
    font-size: 1.5em;
    color: #666;
}

.gdSearchList{
    padding: 5px 5px 6px 5px;
    background: none repeat scroll 0% 0% #EEEFF0;
    margin: 0px;
}
.gdSearchList dl.main {
    font-size: 1.1em;
}
dl.main {
    margin: 5px 1px 0px 0px;
    padding: 5px 0px;
    font-size: 1.2em;
}
form, dl, dt, dd, a {
margin: 0;
padding: 0;
border: 0;
}
/******************************************************************************/

/*                      filter.ctp                                            */

/******************************************************************************/



#loading_overlay {
    position: absolute;
    top: 50%;  
    left: 50%; 
    width: 30px;
    height: 30px;
}

#section_name_bar{
    background-color: #DBDBDB;
    padding: 5px;
    height: 40px;
}

#section_name{
    width: 33%;
    height: 1em;
    float: left;
    padding: 0.3em 10px;
    text-align: left;
}
#compare_blank{
    width: 10%;
    height: 20px;
    float: left;
}

#compare{
    width: 80%;
    height: 20px;
    float: left;
}
#delete_comparison_items{
    background: rgba(0, 0, 0, 0) url("/img/delete_icon.png") no-repeat scroll 100% 3px;
    background-position: center; 
    width: 10%;
    height: 20px;
    float: right;
}
#comparison_div{
    display:none;
    float: left;
    width: 33%;
    min-width: 300px;
    text-align: center;
    background-color: #a6ce39;
    cursor: pointer;
    border-radius: 2px;
    box-shadow: none;
    color: #fff;
    font-weight: bold;
    overflow: hidden;
    padding: 0.3em 0;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
}
/******************************************************************************/

/*              LAYOUT                                                        */

/******************************************************************************/

#site-title{
    font-family: Arial Rounded MT Bold,Helvetica Rounded,Arial,sans-serif;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 26.4px;
    color: #BBBAB8;
    text-decoration: none;
}
#header{
    padding: 10px;
}
/******************************************************************************/

/*              for menu                                                      */

/******************************************************************************/
#nav {
    float: left;
    width: 100%;
    border-top: 1px solid #999;
    border-right: 1px solid #999;
    border-left: 1px solid #999;
    list-style:none;
}
#sub_nav{
    list-style:none;
}
#nav li a {
    display: block;
    padding: 10px 15px;
    background: #ccc;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #999;
    text-decoration: none;
    color: #000;
    list-style:none;
}
#nav li a:hover, #nav li a.active {
    background: #999;
    color: #fff;
}
#nav li ul {
    display: none; // used to hide sub-menus
}
#nav li ul li a {
    padding: 10px 25px;
    background: #ececec;
    border-bottom: 1px dotted #ccc;
}
/******************************************************************************/

/*              for whole site                                                */

/******************************************************************************/

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}
/******************************************************************************/

/*              processors browse                                             */

/******************************************************************************/
.year_div{
    margin: 10px auto;
    width: 500px;
}

.comparison4{
    background-color: yellow;
    max-width: 120px;
    min-width: 100px;
    float: left;
}
.browse_main_div{
    margin: 10px auto !important;
    width: 100%;
    text-align: center;
}
.brand2, .year, .serie {
   background-color: #52A55C;
    border-radius: 2px;
    box-shadow: none;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    min-width: 100px;
    overflow: hidden;
    padding: 0.3em 0;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    padding: 0em 1em 0em 1em;
}

.comparison2{
    background-color: #0C143F;
    border-radius: 2px;
    box-shadow: none;
    color: #fff !important;
    cursor: pointer;
    font-weight: bold;
    overflow: hidden;
    padding: 0.3em 0;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    padding: 0em 1em 0em 1em;
    min-width: 80px;
    max-width: 100px;
    margin: 0em auto;
}

.comparison3{
    background-color: #6E77AA;
    border-radius: 2px;
    box-shadow: none;
    color: #fff !important;
    cursor: pointer;
    font-weight: bold;
    overflow: hidden;
    padding: 0.3em 0;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    padding: 0em 1em 0em 1em;
    min-width: 80px;
    max-width: 100px;
    margin: 0em auto;
}
/******************************************************************************/

/*              processor details                                             */

/******************************************************************************/
.processor{
    margin: 10px auto;
    width: 50%;
    min-width: 500px;        
}
.processor table{
    margin-top: 50px;
}
/******************************************************************************/

/*                      sidebar main menu                                     */

/******************************************************************************/
#nav a.disabled{
    color: #999 !important;
}